.portfolio{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
}

.portfolio .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.portfolio h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.portfolio .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolio .galeria .proyecto{
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}

.portfolio .galeria .proyecto img{
    width: 300px;
    height: 300px;
    display: block;
    border-radius: 8px;
    transition: transform 0.5s;
}

/*.portfolio .galeria .proyecto .overlay{
    background: linear-gradient(rgba(28,182,152,.8), rgba(28,182,152,.8));
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}*/
.portfolio .galeria .proyecto .overlay{
    background: linear-gradient(rgba(40, 41, 41, 0.8),rgba(28,182,152,.8));
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}
.portfolio .galeria .proyecto .overlay h3{
    margin-bottom: 20px;
    transition: 1s;
}

.portfolio .galeria .proyecto .overlay:hover{
    opacity: 1;
}

.portfolio .galeria .proyecto .overlay:hover h3{
    margin-bottom: 0px;
}

.portfolio .galeria .proyecto .overlay p{
    color: #fff;
    

}


.portfolio .modal-body{
    background-color: #252A2E;
}
.portfolio .col-md-4{
    background-color: transparent;
    border-radius: 8px;
}

.portfolio .col-md-4 img{
border-radius: 8px;
width: 240px;
height: 240px;
margin-right: 50px;
}

.portfolio .modal-body .row .col h3{ 
    font-size: 28px !important;
    font-family: 'Righteous'!important;
    margin-bottom: 25px !important;
}

.portfolio .modal-body .row .col p{
    font: 18px !important;
    line-height: 22px !important;
    margin-bottom: 20px !important;
}

.portfolio .modal-body .row .col p span{
    color: #1CB698 !important;
    font-weight: bold !important;
}

.portfolio .modal-body .row .col li{
    font-family: 'Righteous' !important;
}









